/*parallax css*/
.parallax::before {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.parallax {
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.8);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
	color: #fff;
}
/*portfolio parallax*/
#portfolio.parallax {
    background-image: url("../images/background/bg-2.jpg");
}

/*blog*/
#blog.parallax {
    background-image: url("../images/background/bg-3.jpg");
}